[Unit]
Description=Restaurant Flask app
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/webapp
Environment=SECRET_KEY=change-me-please
ExecStart=/home/ubuntu/webapp/.venv/bin/gunicorn --workers 2 --bind 127.0.0.1:8000 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
